MONGO_URI=mongodb+srv://Kushagra:Kushagra12@finwise-cluster.srt6gbo.mongodb.net/finwise?retryWrites=true&w=majority&appName=finwise-cluster
JWT_SECRET=your_super_secret_key_here
CLIENT_URL=http://localhost:3000
PORT=5000
